// Fonts
$family-sans-serif: #{$p-fallback-fonts};

// Colors
$primary: $primary;
$info: $primary;
$link: $charcoal;
$danger: $winter-sky;


// Navbar
$navbar-dropdown-item-active-background-color: #fff;
$navbar-dropdown-background-color: $charcoal;
$navbar-background-color: $primary;
$navbar-dropdown-arrow: #fff;
$navbar-item-color: #fff;